@model IEnumerable<DieFaceDistributerWebApp.Models.SingleSymbolEvaluation>

@{
    
    ViewData["Title"] = "Maximize Single Symbol Odds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>How to Arrange Copies of One Symbol amongst Dice</h1>

<p>
    This will help you with how you should arrange copies of one winning symbol among your dice to maximize your odds of seeing that symbol a Targeted Number of times When you roll those dice.  EG 6,2,1 means a 3-Die set with one die having 6 Winning Symbols, another having 2, and the last having 1.  Results are sorted by best odds first.
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.LabelFor(a => a.FirstOrDefault().Dice)</th>
            <th>@Html.LabelFor(a => a.FirstOrDefault().OddsOfGettingDesiredTN)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Dice.Select(a => a.NumberOfWinningSides(a.WinningSides).ToString()).Aggregate((b, c) => b + "," + c)
            </td>
            <td>@item.OddsOfGettingDesiredTN.ToString("C")</td>
        </tr>
}
    </tbody>
</table>
